body {
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Space Mono", monospace !important;
}

tr.active {
  background-color: #007be0;
}
tr.active td {
  font-weight: bold;
  font-size: 18px;
}

.orange {
  background: orange;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.7);
}

.audioControle {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: absolute;
  top: 30px;
  right: 30px;
}
.audioControle i {
  font-size: 30px;
  transition: all 0.3s ease;
}
.audioControle:hover i {
  transform: scale(0.9);
}

#main .game-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
}
#main .game-box .starting-box {
  display: block;
}
#main .game-box .starting-box .radios {
  display: flex;
  justify-content: space-around;
}
#main .game-box .starting-box .button {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
#main .game-box .starting-box #start {
  border: none;
  outline: none;
  padding: 10px 30px;
  transition: all 0.3s ease;
  border-radius: 10px;
  font-weight: bold;
  font-size: 24px;
}
#main .game-box .starting-box #start:hover {
  transform: scale(0.9);
}
#main .game-box .main-box {
  display: none;
  width: 100%;
  height: 100% !important;
}
#main .game-box .main-box .bord {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#main .game-box .main-box .boxes {
  width: 20% !important;
  height: 100px;
  padding: 4px;
}
#main .game-box .main-box .box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 6px;
  background: #1c6174;
  cursor: pointer;
}
#main .game-box .main-box .info {
  width: 100%;
  text-align: center;
}
#main .game-box .main-box .line {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
}
#main .game-box .main-box .line .min-line {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  background: #2ecc71;
  transition: all 1s linear;
}
#main .game-box .finishing-box {
  width: 100%;
  height: 100% !important;
  text-align: center;
  display: none;
}
#main .game-box .finishing-box .your-score {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: greenyellow;
}
#main .game-box .finishing-box #yourRecord {
  font-size: 32px;
}
#main .game-box .finishing-box #yourScore {
  font-size: 40px;
}
#main .game-box .finishing-box .button {
  width: 100%;
  display: flex;
  justify-content: center;
}
#main .game-box .finishing-box .reload {
  width: 80px !important;
  height: 80px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 50%;
}
#main .game-box .finishing-box .reload i {
  font-size: 40px;
  color: #0F2027;
}

@media screen and (max-width: 768px) {
  .boxes {
    height: 60px !important;
  }

  .audioControle {
    top: 10px;
    right: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
